<h1>Page Details for Page ID# <%= @page.id -%></h1>
<p><%= @page.title %></p>
<div class="row">
  <div class="col-md-6">
<table class="table">
    <tr>
      <td>Original Page Type</td>
      <td class="mednumber"><%= @page.datatype -%></td>
    </tr>
    <tr>
  		<td>Weeks Published</td>
    	<td class="mednumber"><%= @stats.weeks_published -%></td>
    </tr>
    <tr>
      <td>Unique Pageviews<br/>
      <em>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
      <td class="mednumber"><%= number_with_delimiter(@stats.unique_pageviews) -%></td>
    </tr>
    <tr>
      <td>Mean Unique Pageviews<br/>
      <em>between <%= PageStat::START_DATE -%> and <%= PageStat::END_DATE -%></em></td>
      <td class="mednumber"><%= number_with_precision(@stats.mean_unique_pageviews,precision: 2) -%></td>
    </tr>
    <tr>
      <td>Hosted Images<br/>
      <td class="mednumber"><%= number_with_delimiter(@stats.hosted_images) -%></td>
    </tr>
    <tr>
        <td>Communities</td>
        <td>
          <%- @page.groups.publishing.each do |pc| -%>
          <%= link_to(pc.name,community_path(pc.id)) -%><br/>
          <%- end -%>
        </td>
    </tr>
    <tr>
        <td>Source</td>
        <td><%= @page.source %></td>
    </tr>
    <tr>
        <td>Source URL</td>
        <td><%= link_to(@page.source_url, @page.source_url)%></td>
    </tr>
    <tr>
      <td><%= pageinfo_link(@page.id,'More page details') %></td>
      <td>&nbsp;</td>
    </tr>
</table>
</div>

<div class="col-md-6 text-center">
  <div id="keeppage">
    <%= render(partial: 'keep_page') -%>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"
      <h3 class="panel-title">Page Notes</h3>
      </div>
      <div class="panel-body">
        <div id='notes_for_page_<%= @page.id %>'>
          <%= render(partial: 'page_audit_notes', locals: {page: @page, page_audit: @page_audit}) %>
        </div>
      </div>
    </div>
  </div>
</div>


<%- if @stats.hosted_images > 0 -%>
<h2>Hosted Images</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Image</th>
      <th>Pages</th>
      <th>Source</th>
      <th>Stock?</th>
      <th>Copyright</th>
      <th>Copyright Reviewed?</th
    </tr>
  </thead>
  <tbody>
    <%- @page.hosted_images.each do |image| -%>
      <tr>
        <td><%= image.id -%> (<%= link_to('details',image_path(image.id)) -%>)</td>
        <td><%= imageaudit_link(image) -%></td>
        <td>
            <%- image.page_ids.each do |pid | -%>
              <%= link_to("#{pid}",page_path(pid)) -%>,
            <%- end -%>
        </td>
        <td><%= imageaudit_sourcelink(image) -%></td>
        <td>
          <%- image_audit = image.create_hosted_image_audit if(!image_audit = image.hosted_image_audit) -%>
          <%- if image_audit.is_stock.nil? -%>
            <span class="label label-info">not reviewed</span>
          <%- elsif image_audit.is_stock? -%>
            <span class="label label-warning">Yes</span>
          <%- else -%>
            <span class="label label-warning">No</span>
          <%- end -%>
        </td>
        <td><%= image.copyright -%></td>
        <td>
            Community:
            <%- if image_audit.community_reviewed.nil? -%>
              <span class="label label-info">not reviewed</span>
            <%- elsif image_audit.community_reviewed? -%>
              <span class="label label-success">Complete</span>
            <%- else -%>
              <span class="label label-warning">Incomplete</span>
            <%- end -%>
            <br/>
            Staff:
            <%- if image_audit.staff_reviewed.nil? -%>
              <span class="label label-info">not reviewed</span>
            <%- elsif image_audit.staff_reviewed? -%>
              <span class="label label-success">Complete</span>
            <%- else -%>
              <span class="label label-warning">Incomplete</span>
            <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
<%- end -%>
