<h1><%= @community.name -%> Content Summary</h1>
<h1>Content Summary</h1>
<table class="table table-striped">
    <tr>
  		<td>Total Pages</td>
    	<td class="mednumber"><%= link_to(number_with_delimiter(@summary_data['total_pages']), pages_path(:community_id => @community.id)) -%></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Eligible Pages</td>
      <td class="mednumber"><%= link_to(number_with_delimiter(@summary_data['eligible_pages']), pages_path(:community_id => @community.id,:page_status => 'Eligible')) -%></td>
      <td><em>Pages published for at least 1 week prior to <%= Page::END_DATE -%></em></td>
    </tr>
    <tr>
      <td>Viewed Pages</td>
      <td style="white-space:nowrap;">
        <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['viewed_pages']), pages_path(:community_id => @community.id,:page_status => 'Viewed')) -%></span>
        <span class="mednumber">(<%= percentage_display(@summary_data['viewed_pages'],@summary_data['eligible_pages']) -%>)</span>
      </td>
      <td><em>Pages with <strong>at least one or more</strong> mean unique pageviews per week<br/>between <%= Page::START_DATE -%> and <%= Page::END_DATE -%></em></td>
    </tr>
    <tr>
      <td>Unviewed Pages</td>
      <td style="white-space:nowrap;">
        <span class="mednumber"><%= link_to(number_with_delimiter((@summary_data['eligible_pages'] - @summary_data['viewed_pages']) ), pages_path(:community_id => @community.id,:page_status => 'Unviewed')) -%></span>
        <span class="mednumber">(<%= percentage_display((@summary_data['eligible_pages'] - @summary_data['viewed_pages']),@summary_data['eligible_pages']) -%>)</span>
      </td>
      <td>
        <em>Pages with <strong>less than one</strong> mean unique pageview per week<br/>
        between <%= Page::START_DATE -%> and <%= Page::END_DATE -%></em>
      </td>
    </tr>

</table>
<h3>Image Statistics</h3>
<table class="table">
  <tr>
    <td>Hosted Images</td>
    <td>
      <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['hosted_images']), images_path(:community_id => @community.id)) -%></span><br/>
    </td>
    <td>
      <em>Images uploaded to either the legacy cop.extension.org cms or the create.extension.org cms</em>
    </td>
  </tr>

  <tr>
    <td>Images - Unreviewed for Stock</td>
    <td>
      <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['unreviewed_stock_hosted_images']), images_path(:community_id => @community.id,:stock => 'Unreviewed')) -%></span><br/>
    </td>
    <td>
      <em>Images that have been reviewed as a stock image by eXtension Core Team members or the Community</em>
    </td>
  </tr>

  <tr>
    <td>Staff Copyright Complete Images</td>
    <td>
      <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['staff_complete_hosted_images']), images_path(:community_id => @community.id,:staff_reviewed => 'Complete')) -%></span><br/>
    </td>
    <td>
      <em>Images that have been reviewed by an eXtension Staff member as copyright complete</em>
    </td>
  </tr>

  <tr>
    <td>Staff Copyright Incomplete Images</td>
    <td>
      <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['staff_incomplete_hosted_images']), images_path(:community_id => @community.id,:staff_reviewed => 'Incomplete')) -%></span><br/>
    </td>
    <td>
      <em>Images that have been reviewed by an eXtension Staff member as copyright <strong>incomplete</strong></em>
    </td>
  </tr>


  <tr>
    <td>Images - Unreviewed by Staff for Copyright</td>
    <td>
      <span class="mednumber"><%= link_to(number_with_delimiter(@summary_data['staff_unreviewed_hosted_images']), images_path(:community_id => @community.id,:staff_reviewed => 'Unreviewed')) -%></span><br/>
    </td>
    <td>
      <em>Images that have not yet had a copyright review from an eXtension Staff member</em>
    </td>
  </tr>

</table>
