<div class="page-header">
<h1>Images</h1>
<%- if !@filter_strings.blank? -%>
<p>Filtered by: <%= @filter_strings.join(' | ') -%></p>
<%- end -%>
<p>
  <%= link_to("<i class='fa fa-search'></i> Filter this list".html_safe,
              '#',
              id: 'formtoggler',
              class: 'btn btn-default',
              data: {toggle: 'collapse', target: '#showform'}) %>
</p>
<div id="showform" class="<%= (@showform ? 'collapse in' : 'collapse') -%>">
  <%= render(:partial => 'images/filter_form') %>
</div>
</div>

<div id="paginator_wrapper">
  <%- if @images.length > 0 -%>
    <p class="display_results">Displaying <strong><%= @images.offset_value + 1 %>-<%= @images.offset_value + @images.length %></strong> of <strong><%= @images.total_count %></strong></p>
  <%- else -%>
      <p class="display_results">Displaying <strong>0</strong> of <strong>0</strong></p>
  <%- end -%>
  <%= paginate @images, :params => @pagination_params %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Image</th>
      <th>Pages</th>
      <th>Source</th>
      <th>Stock?</th>
      <th>Copyright</th>
      <th>Copyright Reviewed?</th
    </tr>
  </thead>
  <tbody>
    <%- @images.each do |image| -%>
      <%- image_audit = image.create_hosted_image_audit if(!image_audit = image.hosted_image_audit) -%>
      <tr>
        <td><%= image.id -%> (<%= link_to('details',image_path(image.id)) -%>)</td>
        <td><%= imageaudit_link(image) -%></td>
        <td>
            <%- image.page_ids.each do |pid | -%>
              <%= link_to("#{pid}",page_path(pid)) -%>,
            <%- end -%>
        </td>
        <td><%= imageaudit_sourcelink(image) -%>
          <%- if(image.source == 'create' and image.original_wiki?) -%>
            <br/><em> originally copwiki </em>
          <%- end -%>
        </td>
        <td>
          <%- if image_audit.is_stock.nil? -%>
            <span class="label label-info">not reviewed</span>
          <%- elsif image_audit.is_stock? -%>
            <span class="label label-warning">Yes</span>
          <%- else -%>
            <span class="label label-success">No</span>
          <%- end -%>
        </td>
        <td><%= image.copyright -%></td>
        <td>
            Community:
            <%- if image_audit.community_reviewed.nil? -%>
              <span class="label label-info">not reviewed</span>
            <%- elsif image_audit.community_reviewed? -%>
              <span class="label label-success">Complete</span>
            <%- else -%>
              <span class="label label-warning">Incomplete</span>
            <%- end -%>
            <br/>
            Staff:
            <%- if image_audit.staff_reviewed.nil? -%>
              <span class="label label-info">not reviewed</span>
            <%- elsif image_audit.staff_reviewed? -%>
              <span class="label label-success">Complete</span>
            <%- else -%>
              <span class="label label-warning">Incomplete</span>
            <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </tbody>
  </table>

  <script type="text/javascript">

  $('#showform').on('show', function () {
    $('#formtoggler').html("Filter Options <i class='fa fa-caret-down'></i>");
  });

  $('#showform').on('hide', function () {
    $('#formtoggler').html("Filter Options <i class='fa fa-caret-right'></i>");
  });
  </script>
