<h1>Image Details for Hosted Image ID# <%= @image.id -%></h1>
<div class="row">
  <div class="col-md-6">
    <table class="table">
        <tr>
      		<td>Image</td>
        	<td><%= imageaudit_link(@image) -%></td>
        </tr>
        <tr>
            <td>Source</td>
            <td>
              <%= imageaudit_sourcelink(@image) -%>
              <%- if(@image.source == 'create' and @image.original_wiki?) -%>
                <br/><em> metadata imported from copwiki image information </em>
              <%- end -%>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= @image.description.nil? ? '<em>none</em>'.html_safe : @image.description %></td>
        </tr>
        <tr>
            <td>Copyright</td>
            <td><%= @image.copyright.nil? ? '<em>none</em>'.html_safe : @image.copyright %></td>
        </tr>
    </table>
  </div>
  <div class="col-md-6 text-center">
    <div id="stockbutton">
      <%= render(partial: 'stock_button') -%>
    </div>
    <div id="communityreview">
      <%= render(partial: 'community_review') -%>
    </div>
    <div id="staffreview">
      <%= render(partial: 'staff_review') -%>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading"
      <h3 class="panel-title">Image Notes</h3>
      </div>
      <div class="panel-body">
        <div id='notes_for_image_<%= @image.id %>'>
          <%= render(partial: 'image_audit_notes', locals: {image: @image, hosted_image_audit: @image_audit}) %>
        </div>

      </div>
    </div>
  </div>
</div>




<%- if @image.pages.count > 0 -%>
<h2>Pages</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Page ID#</th>
      <th>Page Title</th>
      <th>Total Unique Pageviews</th>
      <th>Mean Unique Pageviews</th>
      <th>Source Page Created At</th>
      <th>Source Page Last Updated At</th>
    </tr>
  </thead>
  <tbody>
    <%- @image.pages.each do |page| -%>
      <tr>
        <td><%= page.id -%> (<%= link_to('details',page_path(page.id)) -%>)</td>
        <td><%= page.title -%> (<%= pageinfo_link(page.id,'page info') -%>)</td>
        <td><%= number_with_delimiter(page.page_stat.unique_pageviews) -%></td>
        <td><%= number_with_precision(page.page_stat.mean_unique_pageviews, precision: 2) -%></td>
        <td><%= page.source_created_at.to_s -%></td>
        <td><%= page.source_updated_at.to_s -%></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
<%- end -%>
